<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank {{ total }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card *ngFor="let todo of todos | async">
    <ion-card-header>
      <ion-card-subtitle>{{ todo.nama }}</ion-card-subtitle>
      <ion-card-title>{{ todo.alamat }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
